* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  /* color: blueviolet; */
}
.container {
  /* width: 80%; */
  /* margin: auto; */
  padding: 10px;
  background-color: white;
}
ul {
  color: brown;
  display: flex;
  width: 100%;
  background-color: azure;
}
ul li {
  list-style: none;
  padding: 0px 15px;
}
ul li a {
  padding: 10px 15px;
  list-style: none;
  text-decoration: none;
  display: block;
}
ul li a:hover {
  background-color: bisque;
}

.con {
  width: 980px;
  /* background-color: white; */
  /* height: 100vh; */
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
  /* overflow: hidden; */
  gap: 10px;
}
.card {
  width: 200px;
  /* height: 150px; */
  /* background-color: rebeccapurple; */
  display: flex;
  color: blue;
  /* margin: 5px; */
  overflow: hidden;
  flex-direction: column;
  background-color: #eee;
  border-radius: 0px 0px 10px 10px;
}
.card .conten {
  padding: 5px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
